.Tilt {
	background: linear-gradient(89deg, #000000 0%, #000 100%);
	font-family: "Helvetica","Arial",sans-serif;
	font-weight: bold;
}

.Tilt-inner {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}